<h1>Events</h1>

<ul>
<% @events.each do |event| %>
  <li style="list-style:none">
    <h2><%= event.name %></h2>
    <h3><%= event.place %></h2>
    <h3><%= event.event_date %></h2>
  </li>
<% end %>
</ul>

<% if user_signed_in? %>
  <h3><%= button_to "Sign Out", destroy_user_session_path, method: :delete %></h3>
<% else %>
  <h3><%= button_to "Sign In", new_user_session_path %></h3>
<% end %>