<h1>
  This event is:
  <%= @event.name %>
  </h1>

<h2>
  Where?
  <%= @event.place %></h2>

<h3>
  And when?
  <%= @event.event_date %></h3>

<h3>
  Wanna Come?
  <%= link_to "Join Event", new_attendee_attended_event_path(event_id: @event.id) %>

<h1>Attendees:</h1>
<ul>
  <% @attendees.each do |attendee| %>
    <h3><%= attendee.username %></h3>
  <% end %>
</ul>

<%= link_to "Home", :root %>